<body style="background-color: #e9ecef;">
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Hello, there!!</h1>
      <p style="font-size: larger;">This application will help you to maintain the data of
        water cans and milk which you get daily.</p>
      <p><button class="btn btn-primary btn-md" mat-raised-button routerLink="/signIn">Start now »</button></p>
    </div>
  </div>
  <nav class="navbar fixed-bottom navbar-light" style="background-color: #e9ecef;">
    <hr>
    <span class="navbar-text">
      © Company 2020-2021
    </span>
  </nav>
</body>

<!-- <div style="margin: 3rem;"></div>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2 class="display-3" class="lead"><b>Start Entering the data </b></h2>
      <p><button mat-raised-button class="btn btn-secondary" routerLink="/attendace">Enter details »</button></p>
    </div>
    <div class="col-md-6">
      <h2 class="lead"><b>Check your entries here</b></h2>
      <p><button mat-raised-button class="btn btn-secondary" mat-raised-button routerLink="/attendace-entries">Entries
          »</button></p>
    </div>
  </div>
</div> -->

<!-- <footer class="container" style="margin-top: 4rem;">
  <hr>
  <p>© Company 2020-2021</p>
</footer> -->
