<div class="container">
  <div style="margin: 20px;"></div>
  <div>
    <div class="alert alert-warning" role="alert" *ngIf="errorMilk">
      <p>{{errorMilk}}. Please  <a routerLink="/logIn">re-login</a></p>
    </div>
    <mat-card>
      <h4>Milk:</h4>
      <form #dateForm="ngForm" (ngSubmit)="fromToDate(dateForm)">
        <mat-form-field style="margin-right: 10px;">
          <mat-label>From date</mat-label>
          <input matInput [matDatepicker]="fromDate" ngModel name="fromDate" required>
          <mat-datepicker-toggle matSuffix [for]="fromDate"></mat-datepicker-toggle>
          <mat-datepicker #fromDate></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
          <mat-label>To date</mat-label>
          <input matInput [matDatepicker]="toDate" ngModel name="toDate" required>
          <mat-datepicker-toggle matSuffix [for]="toDate"></mat-datepicker-toggle>
          <mat-datepicker #toDate></mat-datepicker>
        </mat-form-field>
        <section>
          <button color="primary" [disabled] = "!dateForm.valid" matTooltip="Filter data based on Dates" mat-raised-button type="submit">Go</button> |
          <button class="btn btn-secondary"  (click)="resetMilk()"  mat-raised-button type="button">Reset</button>

        </section>
      </form>

      <div *ngIf="milkSpin" style="text-align: center; margin-top: 20px;">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </div>

      <div style="margin: 20px;"></div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Liters</th>
            <!-- <th scope="col">Received</th> -->
            <th scope="col">Price</th>
            <th scope="col">Date</th>
          </tr>
        </thead>
        <tbody>
        <tr style="cursor: pointer;" data-toggle="modal"
            data-target="#staticBackdrop" (click)="editMilk(prod)"
            *ngFor="let prod of milkAttendanceSer; let i = index">
            <th scope="row">{{i+1}}</th>
            <td>{{prod.litres}}</td>
            <!-- <td>{{prod.inOrOut}}</td> -->
            <td>{{prod.price}}</td>
            <td>{{prod.milkIn | date: 'fullDate'}}</td>
          </tr>
        </tbody>
      </table>
      <mat-card-actions>
        <h6>Amount: {{totalMilkBill}}</h6>
      </mat-card-actions>
      <mat-card-footer>
        <button color="primary" style="margin: 10px;" mat-raised-button (click)="calculateTotalMilkPrice()">Total</button>
      </mat-card-footer>
    </mat-card>
    <div style="margin: 20px;"></div>
    <div>
      <mat-card>
        <h4>Water Cans:</h4>
        <form #WaterdateForm="ngForm" (ngSubmit)="WaterfromToDate(WaterdateForm)">
          <mat-form-field style="margin-right: 10px;">
            <mat-label>From date</mat-label>
            <input matInput [matDatepicker]="waterfromDate" ngModel name="WaterfromDate" required>
            <mat-datepicker-toggle matSuffix [for]="waterfromDate"></mat-datepicker-toggle>
            <mat-datepicker #waterfromDate></mat-datepicker>
          </mat-form-field>
          <mat-form-field>
            <mat-label>To date</mat-label>
            <input matInput [matDatepicker]="watertoDate" ngModel name="WatertoDate" required>
            <mat-datepicker-toggle matSuffix [for]="watertoDate"></mat-datepicker-toggle>
            <mat-datepicker #watertoDate></mat-datepicker>
          </mat-form-field>
          <section >
            <button color="primary" [disabled] = "!WaterdateForm.valid" matTooltip="Filter data based on Dates" mat-raised-button type="submit">Go</button> |
            <button class="btn btn-secondary"  (click)="resetWater()"  mat-raised-button type="button">Reset</button>
          </section>

        </form>
        <div *ngIf="waterSpin" style="text-align: center; margin-top: 20px;">
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </div>
        <div style="margin: 20px;"></div>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Cans</th>
              <th scope="col">Price</th>
              <th scope="col">Date</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let prod of waterAttendanceSer; let i = index"
            style="cursor: pointer;" data-toggle="modal"
            data-target="#staticBackdrop" (click)="editWater(prod)">
              <th scope="row">{{i+1}}</th>
              <td>{{prod.cans}}</td>
              <td>{{prod.price}}</td>
              <td>{{prod.waterIn | date: 'longDate'}}</td>
            </tr>
          </tbody>
        </table>
        <mat-card-actions>
          <h6>Amount: {{totalWaterBill}}</h6>
        </mat-card-actions>
        <mat-card-footer>
          <button color="primary" style="margin: 10px;" mat-raised-button (click)="calculateTotalWaterPrice()">Total</button>
        </mat-card-footer>
      </mat-card>
    </div>
  </div>
  <div style="margin: 10px;"></div>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
        <button type="button" (click)="editMilkProd=null;editWaterProd=null" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <div style="margin: 20px;"></div>
        <table class="table table-striped">
          <thead>
            <tr *ngIf="editWaterProd">
              <th scope="col">#</th>
              <th scope="col">Cans</th>
              <th scope="col">Price</th>
              <th scope="col">Date</th>
            </tr>
            <tr *ngIf="editMilkProd">
              <th scope="col">#</th>
              <th scope="col">Liters</th>
              <th scope="col">Price</th>
              <th scope="col">Date</th>
            </tr>
          </thead>
          <tbody *ngIf="editWaterProd">
            <tr>
              <th scope="row">1</th>
              <td><input class="form-control"  style="width: 55px;" value="{{editWaterProd.cans}}" [(ngModel)]="editWaterProduct.cans" ></td>
              <td><input class="form-control" style="width: 60px;" value="{{editWaterProd.price}}" [(ngModel)]="editWaterProduct.price"></td>
              <td><input class="form-control" style="width: 160px;" type="date" value="{{editWaterProd.waterIn}}" [(ngModel)]="editWaterProduct.waterIn"></td>
            </tr>
          </tbody>
          <tbody *ngIf="editMilkProd">
            <tr>
                <th scope="row">{{1}}</th>
                <td><input class="form-control" style="width: 55px;" value="{{editMilkProd.litres}}" [(ngModel)]="editMilkProduct.litres"></td>
                <td><input  class="form-control" style="width: 60px;" type="number" value="{{editMilkProd.price}}" [(ngModel)]="editMilkProduct.price"></td>
                <td><input  class="form-control" style="width: 160px;" type="date" value="{{editMilkProd.milkIn}}" [(ngModel)]="editMilkProduct.milkIn"></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" mat-raised-button class="btn btn-secondary" (click)="editMilkProd=null;editWaterProd=null" data-dismiss="modal">Close</button> |
        <button type="button" mat-raised-button class="btn btn-primary" (click)="save()" data-dismiss="modal">Save</button>|
        <button type="button" mat-raised-button class="btn btn-danger" (click)="delete()" data-dismiss="modal">Delete</button>
      </div>
    </div>
  </div>
</div>

